@model IEnumerable<tCustomer>

<h2>客戶資料一覽表</h2>

<table border="1">
    <tr>
        <td>編號</td>
        <td>姓名</td>
        <td>電話</td>
        <td>電子郵件</td>
        <td>地址</td>
    </tr>
    @{
        foreach (tCustomer c in Model)
        {
        <tr>
            <td>@c.fId.ToString()</td>
            <td>@c.fName</td>
            <td>@c.fPhone</td>
            <td>@c.fEmail</td>
            <td>@c.fAddress</td>
        </tr>
            }
        }
</table>
